<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item Catalog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Item Catalog</h1>
        <p>Welcome to the Item Catalog!</p>
        {% comment %} <a href="/items" class="btn btn-primary">View Items</a> {% endcomment %}
        <a class="btn btn-primary">View Items</a>
        <a href="/items/new" class="btn btn-success">Add New Item</a>
    </div>
</body>
</html>
